<link rel="stylesheet" href="/css/style.css">
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #011222;">
  <a class="navbar-brand lego-logo" href="/">Interntracker</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
    </ul>
  </div>
</nav>
